---
import AboutSection from '../components/home/AboutSection.astro';
import Footer from '../components/home/Footer.astro';
import Header from '../components/home/Header.astro';
import HeroSection from '../components/home/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import BenefitsSection from '../components/home/BenefitsSection.astro';
import TreatmentProcessSection from '../components/home/TreatmentProcessSection.astro';
import WhyChooseUsSection from '../components/home/WhyChooseUsSection.astro';
---

<Layout title="Frequens Neuro Clinic - Estimulación Magnética Transcraneal">
	<main class="min-h-screen bg-white">
		<Header />
		<section id="inicio">
			<HeroSection />
		</section>
		<section id="sobre-nosotros">
			<AboutSection />
		</section>
		<WhyChooseUsSection />
		<section id="tratamiento">
			<TreatmentProcessSection />
		</section>
		<section id="resultados">
			<BenefitsSection />
		</section>
		<Footer />
	</main>
</Layout>
