---
import AboutSection from '../components/home/AboutSection.astro';
// import CTABanner from '../components/home/CTABanner.astro';
import Footer from '../components/home/Footer.astro';
import Header from '../components/home/Header.astro';
import HeroSection from '../components/home/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import TestimonialsSection from '../components/home/TestimonialsSection.astro';
import TreatmentProcessSection from '../components/home/TreatmentProcessSection.astro';
import WhyChooseUsSection from '../components/home/WhyChooseUsSection.astro';
---

<Layout title="Frequens Neuro Clinic - Estimulación Magnética Transcraneal">
	<main class="min-h-screen bg-white">
		<Header />
		<HeroSection />
		<AboutSection />
		<WhyChooseUsSection />
		<TreatmentProcessSection />
		<TestimonialsSection />
		<!-- <CTABanner /> -->
		<Footer />
	</main>
</Layout>
