<section class="w-full bg-beige py-16">
	<div class="max-w-6xl mx-auto">
		<h3 class="text-2xl font-bold text-accent-900 text-center mb-16">
			Te esperamos en nuestra clínica en Mérida, Yucatán
		</h3>
		<div class="w-full rounded-lg overflow-hidden shadow-warm-lg">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.8810796325033!2d-89.64671048809873!3d21.03744378739745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5675e2c9dec403%3A0xdd67923b9716a6f2!2sFrequens%20Neuro%20Clinic!5e0!3m2!1sen!2smx!4v1765148110365!5m2!1sen!2smx"
				title="Frequens Neuro Clinic Location"
				class="w-full h-[450px] md:h-[500px]"
				height="450"
				style="border:0;"
				allowfullscreen=""
				loading="lazy"
				referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</div>
</section>
